<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table,table tr th, table tr td { border:1px solid #0094ff; }
        table { width: 400px; height: 400px; border-collapse: collapse; margin: auto;}
    </style>
</head>
<body>
    <div id="points"></div>
    <div id="pan" style="padding: 20px; background-color: #f5f5dc;">
    </div>
    <button id="ohNo">悔棋</button>
    <script src="../../static/js/jquery.min.js"></script>
<script>
    $(function () {
        var rowsLength=10;//行数
        var colLength=10;//列数
        var position = $("#pan");//定义table生成的位置
        var objTable = document.createElement("table");
        objTable.border="1";
        objTable.id = "board";
        for(var i=0;i<rowsLength;i++)
        {
            var objTr = document.createElement("tr");
            for(var j=0;j<colLength;j++)
            {
                var objTd = document.createElement("td");
                objTr.append(objTd);
            }
            objTable.append(objTr);
        }
        position.append(objTable);
        var obj = $("#board");
        var offset = obj.offset();
        var nowPointColor = 0;
        var history = [];
        obj.click(function(event){
            var x = event.pageX - offset.left;
            var y = event.pageY - offset.top;
            var xR = Math.round(x / 40);
            var yR = Math.round(y / 40);
            for (var i = 0; i < history.length ; i++) {
                var his = history[i];
                if (his.x === xR && his.y === yR) {
                    console.log('Not Allow');
                    return;
                }
            }
            nowPointColor++;
            var point = {x: xR, y: yR};
            drawPoint(point);
            history.push(point);
        });
        $(".point").click(function () {
            console.log('Not Allow');
        });
        $("#ohNo").click(function () {
            nowPointColor--;
            $(".point:last").remove();
            history.pop()
        });
        function drawPoint(point) {
            $("#points").append("<div class='point' onclick='console.log(\"Not Allow\");' style='background-color: " +
                (nowPointColor % 2 === 0 ? 'black' : 'white') + ";" +
                "width: 30px; height: 30px; border-radius: 15px;" +
                "position: absolute; top: " + (offset.top - 15 + 40 * point.y) +
                "px; left: " + (offset.left - 15 + 40 * point.x) + "px;'></div>")
        }
    });
</script>
</body>
</html>