<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>五子棋大厅</title>
</head>
<body>
<h1>五子棋大厅</h1>
<button id="newRoom">newRoom</button>
<div id="rooms"></div>
<script src="./../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script>
    $(function () {
        let webSocket = null;
        //浏览器是否支持websocket
        if ("WebSocket" in window) {
            console.log("WebSockets supported");
            webSocket = new WebSocket("ws://localhost:8080/hiramgames");
            webSocket.onopen = function (data) {
                console.log("Connect success ");
                let redata = {}
                redata.requireType = "getRooms"
                sendMessage(redata)
            };
            webSocket.onmessage = function (data) {
                let dataJ = JSON.parse(data.data)
                console.log(dataJ)
                let rooms = $("#rooms");
                switch (dataJ.requireType) {
                    case "newRoom":
                        console.log("newRoom result")
                        rooms.empty();
                        for (let i = 0; i < dataJ.rooms.length; i++) {
                            let roomHtml = "<div style='width: 100px; height: 100px; background-color: #0094ff; margin: 10px; float: left;'>"
                            roomHtml += "<div style='height: 50px; width: 100px'>" + dataJ.rooms[i].name + "</div>";
                            roomHtml += "<div style='height: 50px; width: 100px'>";
                            roomHtml += dataJ.rooms[i].members[0]
                            if (dataJ.rooms[i].members.length>1) {
                                roomHtml += " VS " + dataJ.rooms[i].members[1]
                            }
                            roomHtml += "</div>"
                            roomHtml += "</div>"
                            rooms.append(roomHtml)
                        }
                        rooms.append("<div style='clear: both;'></div>")
                        break;
                    case "getRooms":
                        console.log("getRooms result")
                        rooms.empty();
                        for (let i = 0; i < dataJ.rooms.length; i++) {
                            rooms.append("<div style='width: 100px; height: 100px; background-color: #0094ff; margin: 10px; float: left;'>" + dataJ.rooms[i].name + "</div>")
                        }
                        rooms.append("<div style='clear: both;'></div>")
                        break;
                    default:
                        console.log(dataJ)
                }
            };
            webSocket.onerror = function (e) {
                console.log('Connect error ');
            };
            webSocket.onclose = function (data) {
            };
            window.onbeforeunload = function () {
                // webSocket.close();
            }
        } else {
            console.log("WebSockets not supported");
        }

        $("#newRoom").bind("click", function () {
            let data = {}
            data.requireType = "newRoom"
            sendMessage(data)
        })

        function sendMessage(dataJ) {
            console.log('Will send: ' + JSON.stringify(dataJ))
            webSocket.send(JSON.stringify(dataJ));
        }

        $('.close').click(function () {
            if (webSocket != null) {
                webSocket.close();
            }
        });

    });
</script>
</body>
</html>